<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta http-equiv="Content-Security-Policy" content="default-src * 'unsafe-eval' 'unsafe-inline'">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/firebase/firebase.js"></script>
    <script src="lib/angularfire/dist/angularfire.min.js"></script>
    <script src="lib/lodash/lodash.min.js"></script>
    <script src="lib/restangular/dist/restangular.min.js"></script>
    <script src="lib/moment/min/moment.min.js"></script>
    <script src="lib/d3/d3.min.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="lib/ngCordova/dist/ng-cordova.js"></script>
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers/homage.ctrl.js"></script>
    <script src="js/directives/chart.directive.js"></script>
    <script src="js/services/homagefactory.js"></script>
  </head>
  <body ng-app="homage">

    <ion-pane>
      <ion-header-bar class="bar bar-header bar-balanced" align-title="center">
        <!-- <h1 class="title">Homage to mobile apps</h1> -->
      </ion-header-bar>
      <ion-content>
        <!-- <div class="row row-center responsive-sm">
          <div class="col col-33 col-offset-33 text-center">You only need to do one thing:</div>
        </div> -->
        <div class="padding" ng-controller="HomageCtrl">
          <button class="button button-block button-royal" ng-click="buttonClick()">
            Click Me!
            <i class="icon ion-happy-outline"></i>
          </button>
          <!-- <div class="row row-center responsive-sm" ng-show="shout">
            <div class="col col-33 col-offset-33 text-center">{{shout}}</div>
          </div> -->
          <p>
            {{savedClicks['-JzhJC419i2NZuoY4CL2']}}
          </p>
          <clicks-chart class="padding" id="chart-div">
            <div class="circle" id="prev" ng-click="goPrev();"></div>
            <div class="circle" id="next" ng-click="goNext();"></div>
          </clicks-chart>
        </div>
      </ion-content>
    </ion-pane>
  </body>
</html>
