#chart-div {
	position: relative;
	min-height: 250px;
	display: block;
	border: 1px solid #AAAAAA;
	margin: 20px 0px;
}

#levelbar-div {
	position: relative;
	min-height: 100px;
	display: block;
}

#progress-bar {
	fill: #0D8BC1;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
	font-size: 10px;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.click-circle {
	fill: #4212E4;
}

.hover-circle {
	fill: white;
	opacity: 0;
	stroke: #4244E4;
}

.slider-slide {
	padding: 2px;
}

.slider-pager {
	bottom: 1px;
}

.box {
	height: 80vh;
}

.top-adjust {
	top: 40%;
	position: absolute;
}
