#chart-div {
	position: relative;
	min-height: 300px;
	display: block;
	border: 1px solid #AAAAAA;
	margin: 20px 0px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.click-circle {
	fill: #4212E4;
}

.slider-slide {
	padding: 2px;
}

.slider-pager {
	bottom: 1px;
}

.box {
	height: 80vh;
}
