#chart-div {
	position: relative;
	min-height: 300px;
	display: block;
}

#chart-div > div {
	position: absolute;
	bottom: 0px;
}

#chart-div div div {
	font: 10px sans-serif;
	background-color: #EC530A;
	text-align: right;
	padding: 3px;
	margin: 1px;
	color: white;
	display: inline-block;
	vertical-align: bottom;
	width: 25px;
}